---
import type { GetStaticPathsResult } from "astro";
import { CollectionEntry, getCollection } from "astro:content";
import PostLayout from "../../layouts/PostLayout.astro";

export async function getStaticPaths(): Promise<GetStaticPathsResult> {
	const posts: CollectionEntry<"posts">[] = await getCollection("posts");
	const params = posts.map((post) => ({
		params: { post: post.slug },
		props: { post },
	}));
	return params;
}

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;

const { Content } = await post.render();
---

<PostLayout post={post}>
	<main>
		<Content />
	</main>
</PostLayout>
