<section class="px-4 text-gray-800 dark:text-slate-100">
	<h2
		class="mb-4 border-l-4 border-blue-500 pl-2 text-2xl font-semibold text-gray-800 dark:text-slate-100"
	>
		About Me
	</h2>
	<div class="mt-0 flex flex-col space-y-2 md:-space-y-2">
		<div class="flex h-fit flex-col gap-4 md:flex-row">
			<img
				src="/picofme.png"
				alt="Your Name"
				class="mx-auto mb-4 mt-1 h-60 w-60 rounded-full md:h-32 md:w-32"
			/>
			<p class="mt-0 h-fit">
				Hello, I'm Jake, a back-end developer and seasoned budtender located in Ontario, Canada. My
				expertise lies in Python programming; however, I am constantly seeking new challenges and
				opportunities to expand my skill set, including Rust and embedded programming.
			</p>
		</div>
		<p class="h-fit">
			My career goal is to work in the field of back-end development and tackle complex systems,
			either as an entrepreneur or within the cannabis industry. In addition, cybersecurity is a
			subject that fascinates me, and I take great pride in using my problem-solving skills to
			create efficient and secure solutions. In my leisure time, I enjoy playing video games,
			staying up-to-date with the latest technology advancements, and working on various personal
			projects that allow me to exercise my problem-solving abilities.
		</p>
	</div>
</section>
