<section class="px-4 text-gray-800 dark:text-slate-100">
	<h2
		class="mb-4 border-l-4 border-blue-500 pl-2 text-2xl font-semibold text-gray-800 dark:text-slate-100"
	>
		About Me
	</h2>
	<div class="mt-0 flex flex-col space-y-2 md:-space-y-2">
		<div class="flex h-fit flex-col gap-4 md:flex-row">
			<img
				src="/picofme.png"
				alt="Your Name"
				class="mx-auto mb-4 mt-1 h-60 w-60 rounded-full md:h-32 md:w-32"
			/>
			<p class="h-fit">
				Hello, I'm Jake, a back-end developer and seasoned budtender located in Ontario, Canada. My
				expertise lies in Python programming; however recently, I have developed a deep interest in
				Rust and have been actively developing software with it, enjoying the unique challenges it
				presents.
			</p>
		</div>
		<div class="flex flex-col gap-4">
			<p class="h-fit">
				My career goal is to contribute significantly to the open-source community, focusing
				primarily on the development of tools and ecosystems that enhance the Minecraft gaming
				experience, such as ChunkVault. I am passionate about leveraging my back-end development
				skills to create efficient, secure, and user-friendly solutions that will positively impact
				the Minecraft community. In addition, I am fascinated by cybersecurity and strive to
				incorporate best practices into my projects to ensure their safety and reliability. In my
				leisure time, I enjoy staying up-to-date with the latest technology advancements, playing
				video games, and working on various personal projects that allow me to exercise my
				problem-solving abilities and further my contributions to the open-source community.
			</p>
			<p class="h-fit">
				On a personal note, I have ADHD and ASD (Autism Spectrum Disorder). These aspects of my life
				have shaped me in many ways and have given me a unique perspective on the world.
			</p>
			<p class="h-fit">
				I am passionate about advocating for better mental health assistance and support for people
				on the spectrum. I believe in creating an inclusive and understanding environment for
				everyone.
			</p>
		</div>
	</div>
</section>
