<section class="px-4 text-gray-800 dark:text-slate-100">
	<h2
		class="mb-4 border-l-4 border-blue-500 pl-2 text-2xl font-semibold text-gray-800 dark:text-slate-100"
	>
		About Me
	</h2>
	<div class="mt-0 flex flex-col space-y-2 md:-space-y-2">
		<div class="flex h-fit flex-col gap-4 md:flex-row">
			<img
				src="/picofme.png"
				alt="Your Name"
				class="mx-auto mb-4 mt-1 h-60 w-60 rounded-full md:h-32 md:w-32"
			/>
			<p class="h-fit">
				Hello, I'm Jake, an IT Support Specialist & budtender based in Ontario, Canada. During the
				day, I assist users with their IT needs and provide support in a cannabis dispensary, and in
				my free time, I'm deeply immersed in software development, running Valink Solutions, my own
				company. My passion for technology and helping others drives me daily. I aspire to work
				full-time in the fields of IT and software development, leveraging my ability to quickly
				learn new concepts and my preference for being versatile in various skill sets, which allows
				me to find solutions more efficiently.
			</p>
		</div>
		<div class="flex flex-col gap-4 pt-4">
			<p class="h-fit">
				My career goal is to significantly contribute to the open-source community and positively
				impact my communities. I specialize in Python programming, but I've recently delved into
				Rust, embracing its unique challenges with enthusiasm. I aim to create efficient, secure,
				and user-friendly solutions that benefit those around me. Cybersecurity is a fascinating
				area for me, and I integrate best practices into my projects to ensure their safety and
				reliability. In my leisure time, I stay updated with the latest technology trends, enjoy
				playing video games, and engage in personal projects that hone my problem-solving skills and
				allow me to contribute further to open-source endeavors.
			</p>
			<p class="h-fit">
				On a personal level, I live with ADHD and ASD (Autism Spectrum Disorder), which have shaped
				my perspective profoundly. I advocate passionately for improved mental health assistance and
				support, especially for individuals on the spectrum. Building an inclusive and understanding
				environment for everyone is a core belief of mine.
			</p>
		</div>
	</div>
</section>
